<div class="min-h-screen bg-gray-100 p-6">

  <!-- ================= Header ================= -->

  <div class="flex flex-col lg:flex-row justify-between items-center gap-5 mb-8">

    <div>
      <h1 class="text-3xl font-bold text-[#2F3E46]">
        Permission Management
      </h1>

      <p class="text-gray-500 mt-1">
        Create, Update and Manage Permissions
      </p>
    </div>

    <div class="bg-white rounded-xl shadow px-6 py-4">
      <p class="text-sm text-gray-500">
        Total Permissions
      </p>

      <h2 class="text-3xl font-bold text-[#24c0c5]">
        {{ permissions.length }}
      </h2>
    </div>

  </div>

  <div class="grid lg:grid-cols-3 gap-8">

    <!-- ================= LEFT FORM ================= -->

    <div class="bg-white rounded-2xl shadow-lg p-6">

      <h2 class="text-2xl font-bold text-[#2F3E46] mb-6">
        {{ isEditMode ? 'Update Permission' : 'Create Permission' }}
      </h2>

      <form [formGroup]="permissionForm">

        <!-- Permission Name -->

        <div class="mb-5">

          <label class="font-semibold">
            Permission Name
          </label>

          <input
            type="text"
            formControlName="name"
            placeholder="VIEW_COLLEGE"
            class="mt-2 w-full border rounded-lg p-3 focus:ring-2 focus:ring-[#24c0c5] outline-none">

        </div>

        <!-- Permission Code -->

        <div class="mb-6">

          <label class="font-semibold">
            Permission Code
          </label>

          <input
            type="text"
            formControlName="code"
            placeholder="VIEW_COLLEGE"
            class="mt-2 w-full border rounded-lg p-3 focus:ring-2 focus:ring-[#24c0c5] outline-none">

        </div>

        <!-- Buttons -->

        <div class="flex gap-3">

          <!-- CREATE -->

          <button
            *ngIf="!isEditMode && auth.hasPermission('CREATE_PERMISSION')"
            type="button"
            (click)="createPermission()"
            class="flex-1 bg-[#24c0c5] hover:bg-[#1eb3b8] text-white py-3 rounded-lg font-bold">

            Create

          </button>

          <!-- UPDATE -->

          <button
            *ngIf="isEditMode && auth.hasPermission('UPDATE_PERMISSION')"
            type="button"
            (click)="updatePermission()"
            class="flex-1 bg-green-600 hover:bg-green-700 text-white py-3 rounded-lg font-bold">

            Update

          </button>

          <!-- RESET -->

          <button
            type="button"
            (click)="resetForm()"
            class="flex-1 bg-gray-500 hover:bg-gray-600 text-white py-3 rounded-lg font-bold">

            Reset

          </button>

        </div>

      </form>

    </div>

    <!-- ================= RIGHT TABLE ================= -->

    <div
      class="lg:col-span-2 bg-white rounded-2xl shadow-lg overflow-hidden"
      *ngIf="auth.hasPermission('VIEW_PERMISSION')">

      <div class="bg-[#2F3E46] text-white px-6 py-4">

        <h2 class="text-xl font-bold">
          Permission List
        </h2>

      </div>

      <div class="overflow-x-auto" style="height: 400px;">

        <table class="min-w-full">

          <thead class="bg-gray-100">

            <tr>

              <th class="px-5 py-4 text-left">#</th>

              <th class="px-5 py-4 text-left">Permission Name</th>

              <th class="px-5 py-4 text-left">Permission Code</th>

              <th class="px-5 py-4 text-center">Actions</th>

            </tr>

          </thead>

          <tbody >

            <tr
              *ngFor="let permission of permissions; let i=index"
              class="border-b hover:bg-gray-50">

              <td class="px-5 py-4">
                {{ i + 1 }}
              </td>

              <td class="px-5 py-4 font-semibold">
                {{ permission.name }}
              </td>

              <td class="px-5 py-4">
                {{ permission.code }}
              </td>

              <td class="px-5 py-4">

                <div class="flex justify-center gap-3">

                  <!-- EDIT -->

                  <button
                    *ngIf="auth.hasPermission('UPDATE_PERMISSION')"
                    (click)="editPermission(permission)"
                    class="px-4 py-2 rounded-lg bg-yellow-500 hover:bg-yellow-600 text-white">

                    Edit

                  </button>

                  <!-- DELETE -->

                  <button
                    *ngIf="auth.hasPermission('DELETE_PERMISSION')"
                    (click)="deletePermission(permission.id)"
                    class="px-4 py-2 rounded-lg bg-red-600 hover:bg-red-700 text-white">

                    Delete

                  </button>

                </div>

              </td>

            </tr>

            <tr *ngIf="permissions.length === 0">

              <td
                colspan="4"
                class="text-center py-10 text-gray-500">

                No Permissions Found

              </td>

            </tr>

          </tbody>

        </table>

      </div>

    </div>

  </div>

</div>