<header class="header">

    <div class="header-container">

        <div class="company-name">
            <span>Technex Cloud Networks Pvt Ltd</span>
        </div>

        <div class="header-right">

            <div class="college-logo">
                College Logo
            </div>

            <div>
                <input
                    type="text"
                    placeholder="Search..."
                    class="search-box">
            </div>

            <div class="profile-section">

                <span class="profile-text">
                    Profile
                </span>

                <button class="logout-btn" (click)="logout()">
                    Logout
                </button>

            </div>

        </div>

    </div>

</header>