<app-header></app-header>
<div *ngIf="auth.hasPermission('VIEW_COLLEGE')">
    <app-college></app-college>
</div>
<div class="p-6" >

    <div class="flex justify-between items-center mb-5"  >

        <h2 class="text-2xl font-bold" *ngIf="auth.hasPermission('VIEW_DEPARTMENT')">
            Departments
        </h2>

        <span  *ngIf="auth.hasPermission('CREATE_DEPARTMENT')">
            <button
            *ngIf="!isEditMode"
            type="button"
            (click)="resetForm()"
            class="bg-green-600 hover:bg-green-700 text-white px-5 py-2 rounded-lg">
            Add Department
        </button>
        </span>

    </div>

    <!-- Department Form -->

    <form
        [formGroup]="departmentForm"
        *ngIf="auth.hasPermission('CREATE_DEPARTMENT')"
        class="bg-white shadow rounded-lg border p-6 mb-6">

        <div class="grid grid-cols-3 gap-4">

            <!-- Department Name -->

            <div>

                <label class="block mb-2 font-medium">
                    Department Name
                </label>

                <input
                    type="text"
                    formControlName="name"
                    class="w-full border rounded-lg p-2">

            </div>

            <!-- Department Code -->

            <div>

                <label class="block mb-2 font-medium">
                    Department Code
                </label>

                <input
                    type="text"
                    formControlName="code"
                    class="w-full border rounded-lg p-2">

            </div>

            <!-- College -->

            <div>

                <label class="block mb-2 font-medium">
                    College
                </label>

                <select
                    formControlName="collegeId"
                    class="w-full border rounded-lg p-2">

                    <option value="">Select College</option>

                    <option
                        >
                        c2
                    </option>

                </select>

            </div>

        </div>

        <div class="mt-6 flex gap-3">

            <button
                *ngIf="!isEditMode"
                type="button"
                (click)="createDepartment()"
                class="bg-green-600 hover:bg-green-700 text-white px-5 py-2 rounded-lg">
                Save
            </button>

            <button
                *ngIf="isEditMode"
                type="button"
                (click)="updateDepartment()"
                class="bg-orange-500 hover:bg-orange-600 text-white px-5 py-2 rounded-lg">
                Update
            </button>

            <button
                type="button"
                (click)="resetForm()"
                class="bg-gray-500 hover:bg-gray-600 text-white px-5 py-2 rounded-lg">
                Cancel
            </button>

        </div>

    </form>
 
    <!-- Department Table -->

  <!-- Department Table -->

<div *ngIf="departments && departments.length > 0; else noDepartments">

    <table class="w-full border border-gray-300" *ngIf="auth.hasPermission('VIEW_DEPARTMENT')">

        <thead class="bg-blue-600 text-white">
            <tr>
                <th class="border p-3">S.No</th>
                <th class="border p-3">Department Id</th>
                <th class="border p-3">Department Name</th>
                <th class="border p-3">Code</th>
                <th class="border p-3">Actions</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let department of departments; index as i">

                <td class="border p-3">{{ i + 1 }}</td>
                <td class="border p-3">{{ department.id }}</td>
                <td class="border p-3">{{ department.name }}</td>
                <td class="border p-3">{{ department.code }}</td>

                <td class="border p-3">

                    <div class="flex justify-center gap-2">

                        <button
                            *ngIf="auth.hasPermission('UPDATE_DEPARTMENT')"
                            class="bg-orange-500 hover:bg-orange-600 text-white px-4 py-2 rounded-lg"
                            (click)="editDepartment(department)">

                            Edit

                        </button>

                        <button
                            *ngIf="auth.hasPermission('DELETE_DEPARTMENT')"
                            class="bg-red-600 hover:bg-red-700 text-white px-4 py-2 rounded-lg"
                            (click)="deleteDepartment(department.id)">

                            Delete

                        </button>

                    </div>

                </td>

            </tr>

        </tbody>

    </table>

</div>

<ng-template #noDepartments>

    <div class="text-center text-gray-500 p-5">
        No Departments Found
    </div>

</ng-template>
<div *ngIf="auth.hasPermission('VIEW_BRANCH')">
    <app-branch></app-branch>
</div>
<div *ngIf="auth.hasPermission('VIEW_ROLE')">
    <app-role></app-role>
</div>
<div *ngIf="auth.hasPermission('VIEW_PERMISSION')">
    <app-permission></app-permission>
</div>
<div *ngIf="auth.hasPermission('VIEW_YEAR')">
    <app-year></app-year>
</div>
<div *ngIf="auth.hasPermission('VIEW_COURSE')">
    <app-course></app-course>
</div>
<div *ngIf="auth.hasPermission('VIEW_DOMAIN')">
    <app-domain></app-domain>
</div>
<div *ngIf="auth.hasPermission('VIEW_ASSIGNMENT')">
    <app-assignment></app-assignment>
</div>
<div *ngIf="auth.hasPermission('VIEW_COLLEGE_DEPARTMENT')"  >
    <app-collegedepartment></app-collegedepartment>
</div>
<div *ngIf="auth.hasPermission('VIEW_DEPARTMENT_BRANCH')">
  <app-departmentbranch></app-departmentbranch>
</div>
<div *ngIf="auth.hasPermission('VIEW_DOMAIN_COURSE_MAP')">
  <app-domaincoursemap></app-domaincoursemap>
</div>
<div *ngIf="auth.hasPermission('VIEW_COURSE_ASSIGNMENT_MAP')">
    <app-courseassignmentmap></app-courseassignmentmap>
</div>
<div *ngIf="auth.hasPermission('VIEW_STUDENT_DOMAIN_COURSE_MAP')">
    <app-studentdomainmap></app-studentdomainmap>
</div>
<div *ngIf="auth.hasPermission('VIEW_ROLE_PERMISSION')">
    <app-rolepermission></app-rolepermission>
</div>
<div>
    <app-user></app-user>
</div>
</div>
<app-footer></app-footer>