<div class="header">
    <app-header></app-header>
</div>
<div>
   <router-outlet></router-outlet>
</div>
<div class="p-6" >
<div *ngIf="auth.hasPermission('VIEW_COLLEGE_DEPARTMENT')"  >
    <app-collegedepartment></app-collegedepartment>
</div>
<div *ngIf="auth.hasPermission('VIEW_DOMAIN_COURSE_MAP')">
  <app-domaincoursemap></app-domaincoursemap>
</div>
<div *ngIf="auth.hasPermission('VIEW_COURSE_ASSIGNMENT_MAP')">
    <app-courseassignmentmap></app-courseassignmentmap>
</div>
<div *ngIf="auth.hasPermission('VIEW_STUDENT_DOMAIN_COURSE_MAP')">
    <app-studentdomainmap></app-studentdomainmap>
</div>
<div *ngIf="auth.hasPermission('VIEW_ROLE_PERMISSION')">
    <app-rolepermission></app-rolepermission>
</div>
</div>
